app-root {
  display: block;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

router-outlet + * {
  display: block;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

